<footer class="footer">
  <div class="container">
    <p>© 2022 | All Rights Reserved |</p>
    <div class="footer__item">
      <p class="students">
        <span class="develop">Developed with</span>
        <svg class="footer__icon" width="10" height="10" aria-label="heart">
          <use href="/src/images/icons/symbol-defs.svg#icon-heart"></use>
        </svg>
        <span class="develop-by">by</span>
        <a class="students--link" data-footer-open>GoIT Students</a>
      </p>
    </div>
  </div>
</footer>
