<header class="header__library">
  <div class="container container__library">
    <nav class="site-nav">
      <div class="site-nav__logo">
        <a href="./index.html">
          <svg width="24" height="24" aria-label="Go to the main page">
            <use href="/src/images/icons/symbol-defs.svg#icon-film"></use>
          </svg>
          <span class="site-nav__logo-name">Filmoteka</span>
        </a>
      </div>
      <ul class="site-nav__menu">
        <li class="">
          <a type="text" href="./index.html" class="button">HOME</a>
        </li>
        <li class="site-nav__menu-item site-nav__menu--line">
          <a type="text" href="" class="button" id="my-library">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
    <button class="button__library" id="watched-btn">WATCHED</button>
    <button class="button__library button__library--inline" id="queue-btn">
      QUEUE
    </button>
  </div>
</header>
