<header class="header">
  <div class="container">
    <nav class="site-nav">
      <div class="site-nav__logo">
        <a class="site-nav__logo-link" href="./index.html">
          <svg width="24" height="24" aria-label="Go to the main page">
            <use href="/src/images/icons/symbol-defs.svg#icon-film"></use>
          </svg>
          <span class="site-nav__logo-name">Filmoteka</span>
        </a>
      </div>
      <ul class="site-nav__menu">
        <li class="site-nav__menu--line">
          <a href="./index.html"> HOME </a>
        </li>
        <li class="site-nav__menu-item">
          <a href="./library.html"> MY LIBRARY </a>
        </li>
      </ul>
    </nav>
    <form class="search__form" id="search-form">
      <input
        class="input js-search"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button type="submit" class="button button__submit">
        <svg width="12" height="12" aria-label="submit button">
          <use href="/src/images/icons/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
      <p class="message js-hidden-message">
        Search result not successful. Enter the correct movie name and
      </p>
    </form>
  </div>
</header>
